
#header {
    background-color: #8a2432;
}

#header-menu {
    background-color: #721d29;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 12.8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #721d29;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8a2432;
}
